body {
  background-color: #2327ef;
}

h1 {
  text-align: center;
}

.main-window {
  margin: auto 30%;
  position: relative;
}

.main-content {
  background-color: #327aef;
  margin: 10% auto;
  text-align: center;
  border-radius: 25px;
}

.main-content button {
  margin-top: 10px;
}
